# Maven #
target/
# Maven test folder #
src/test/java

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.metadate/
.classpath
.project
Servers/

# properties file #
*.properties
# not include the properties file existed in the src/main/resources folder
#!src/main/resources/*.properties